div.quote{
    font-size: 2.5rem;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
}
div.quote h1 {
    font-family: "Madimi One";
    font-weight: 700;
}
div.quote p{
    text-align: center;
    font-family: "Kode Mono";
    font-size: 1.8rem;
    font-weight: 700;
}

.button-quote {
    font-size: 1.5rem;
    padding: 30px 80px;
    font-family:"Bebas Neue" ;
    color: white;
    border: 0px;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
transition: all .4s;
  }
  
  .button-quote:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: button-quote 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes button-quote {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-quote:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  div .button-quote:hover{
    border: 15px solid rgb(55, 55, 55);
  }
  #quoteP{
    width: auto;
    font-weight: 300;
    font-size: 2rem;
    font-family: "Alegreya" ;
    text-align: center;
  }
  #quoteA{
    letter-spacing: 1mm;
    color: coral;
    font-size: 2.5rem;
    font-weight: 300;
    font-family: "Bebas Neue";

  }